/*
html5doctor.com Reset Stylesheet
v1.6.1
Last Updated: 2010-09-17
Author: Richard Clark - http://richclarkdesign.com
Twitter: @rich_clark
*/
html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent; }

body {
  line-height: 1; }

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

nav ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
  text-decoration: none; }
  a:hover {
    text-decoration: none; }

/* change colours to suit your needs */
ins {
  background-color: #ff9;
  color: #000;
  text-decoration: none; }

/* change colours to suit your needs */
mark {
  background-color: #ff9;
  color: #000;
  font-style: italic;
  font-weight: bold; }

del {
  text-decoration: line-through; }

abbr[title], dfn[title] {
  border-bottom: 1px dotted;
  cursor: help; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

/* change border colour to suit your needs */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #cccccc;
  margin: 1em 0;
  padding: 0; }

input, select {
  vertical-align: middle; }

.card-header {
  padding: 0;
  background: none;
  border: none; }

li {
  list-style: none; }

a {
  text-decoration: none;
  color: #72bb3b; }
  a:hover {
    color: #72bb3b; }

p {
  line-height: 24px; }

html {
  font-size: 62.5% !important;
  -ms-text-size-adjust: 100%;
  /* 4 */
  -webkit-text-size-adjust: 100%;
  /* 5 */ }

h1, h2, h3 {
  font-weight: bold; }

header {
  width: 100%;
  padding: 20px; }

li {
  list-style: none; }

a {
  text-decoration: none;
  color: #72bb3b; }
  a:hover {
    color: #72bb3b; }

p {
  line-height: 24px; }

html {
  font-size: 62.5% !important;
  -ms-text-size-adjust: 100%;
  /* 4 */
  -webkit-text-size-adjust: 100%;
  /* 5 */ }

h1, h2, h3 {
  font-weight: bold; }

html {
  background: black;
  background: -moz-linear-gradient(top, black 0%, #2d005a 100%);
  background: -webkit-linear-gradient(top, black 0%, #2d005a 100%);
  background: linear-gradient(to bottom, black 0%, #2d005a 100%); }

html, body {
  min-height: 100%;
  font-size: 1.4rem; }

.layout-container {
  display: flex;
  flex: 1;
  -ms-flex: 1 1 auto;
  flex-direction: row; }

.sideMenuBox {
  width: 300px;
  padding: 12px;
  background-color: black;
  color: white;
  border-radius: 6px;
  border: 2px solid #fff;
  font-size: 1.4rem;
  overflow: hidden;
  z-index: auto;
  position: fixed; }
  .sideMenuBox h2 {
    margin-bottom: 10px;
    font-size: 2rem; }

.sideMenuBoxListBox_title {
  font-size: 1.8rem;
  cursor: pointer; }

.sideMenuBoxListBox {
  box-sizing: border-box; }
  .sideMenuBoxListBox li {
    display: list-item; }

.sideMenuBoxListBox_childBox {
  background: black;
  overflow: hidden;
  transition: max-height 0.3s ease-in;
  transition-property: max-height;
  transition-duration: 0.3s;
  transition-timing-function: ease-in;
  transition-delay: initial; }
  .sideMenuBoxListBox_childBox.collapsed {
    max-height: 0; }
  .sideMenuBoxListBox_childBox li {
    display: list-item;
    text-align: -webkit-match-parent; }

.layoutContainerBox {
  padding: 20px; }

.mainContentBox {
  margin-left: 320px;
  padding: 20px;
  font-size: 1.2rem;
  background: white;
  border-radius: 6px; }

.App {
  text-align: center; }

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px; }

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white; }

.App-title {
  font-size: 1.5em; }

.App-intro {
  font-size: large; }

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg); }
  to {
    transform: rotate(360deg); } }
